{% extends "base.html" %}
{% load static %}

{% block extra_title %} | Cart{% endblock %}
{% block content %}
<!-- page contents container -->
<section class="py-5 container">
    <!-- 1st row - page heading -->
    <div class="row py-5 justify-content-center">
        <h1>Your Shopping Bag</h1>
    </div>
    <!-- 2nd row - cart items, if there are any, otherwise a msg stating nothing in cart -->
    <div class="row">
        <div class="col">
            {% if cart_items %}
            <!-- cart contents -->
            <div class="table-responsive-sm">
                <table class="table table-sm table-borderless">
                    <!-- headings for table, Product Details spans two columns -->
                    <thead>
                        <tr>
                            <th scope="col" colspan="2">Product details</th>
                            <th scope="col">Price</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                    </thead>
                    <!-- row for each item in cart -->
                    {% for item in cart_items %}
                    <tr>
                        <!-- 1st col - image -->
                        <td class="p-2 w-25">
                            <!-- if there is no image, then src is the default image, and alt text changes accordingly -->
                            <img class="card-img-top img-fluid"
                                src="{% if product.image %}{{ product.image.url }}{% else %}{{ MEDIA_URL }}no-image.png{% endif %}"
                                alt="{% if product.image %}Photo of {% else %}No image yet for {% endif %}{{ product.name }}{% if not product.image %}, image coming soon.{% endif %}">
                        </td>
                        <!-- 2nd col - name -->
                        <td class="p-2">
                            <p class="my-0">{{ item.product.name }}</p>
                        </td>
                        <!-- 3rd col - price -->
                        <td class="p-2">
                            <p class="my-0">€{{ item.product.price }}</p>
                        </td>
                        <!-- 4th col - quantity -->
                        <td class="p-2 w-25 text-left text-md-center">
                            <form action="" method="POST">
                                {% csrf_token %}
                                <!-- form group for quantity label, buttons and input -->
                                <div class="form-group">
                                    <label for="quantity" class="sr-only">Adjust quantity:</label>
                                    <div class="input-group">
                                        <!-- button before the input - for decreasing quantity -->
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty rounded-0 btn btn-qty"
                                                aria-label="Decrease quantity" data-item_id="{{ item.item_id }}"
                                                id="decrement-qty_{{ item.item_id }}">
                                                <span><i class="bi bi-dash" aria-hidden="true"></i></span>
                                            </button>
                                        </div>
                                        <!-- quantity input box -->
                                        <input type="number" name="quantity" value="{{ item.quantity }}"
                                            class="form-control qty_input" min="1" max="10"
                                            data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                        <!-- button after the input - for increasing quantity -->
                                        <div class="input-group-append">
                                            <button class="increment-qty rounded-0 btn btn-qty"
                                                aria-label="Increase quantity" data-item_id="{{ item.item_id }}"
                                                id="increment-qty_{{ item.item_id }}">
                                                <span><i class="bi bi-plus" aria-hidden="true"></i></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <!-- end of quantity form group -->
                            </form>
                            <a class="update-link"><small class="fw-600">Update quantity</small></a>
                        </td>
                        <!-- 5th col - subtotal -->
                        <td class="p-2">
                            <p class="my-0">€{{ item.product.price }}</p>
                        </td>
                    </tr>
                    {% endfor %}
                    <!-- row showing summary of costs and how much more to spend to get free delivery -->
                    <tr>
                        <td colspan="5" class="pt-5 text-right">
                            <h6><strong>Bag Total: €{{ total|floatformat:2 }}</strong></h6>
                            <h6>Delivery: €{{ delivery|floatformat:2 }}</h6>
                            <h4 class="mt-4"><strong>Grand Total: €{{ grand_total|floatformat:2 }}</strong></h4>
                            {% if free_delivery_spend_needed > 0 %}
                            <p class="font-italic">You can get free delivery if you spend
                                <strong>€{{ free_delivery_spend_needed }}</strong> more!</p>
                            {% endif %}
                        </td>
                    </tr>
                    <!-- last row - back to shop button + checkout button -->
                    <tr>
                        <td colspan="5" class="text-right">
                            <a href="{% url 'products' %}" class="btn btn-brand-outline btn-lg">Back to Shop</a>
                            <a href="#" class="btn btn-brand btn-lg">Secure Checkout</a>
                        </td>
                    </tr>
                </table>
            </div>
            {% else %}
            <p class="fw-600 mb-5">Your don't have any items in your shopping bag.</p>
            <a href="{% url 'products' %}" class="btn btn-brand">Back to Shop</a>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}
{% block postloadjs %}
    {{ block.super }}
    <!-- script for the quantity +/- buttons -->
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}