{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- hero image and callout -->
<section class="pt-4">
    <div class="hero-image container-fluid">
        <div class="overlay">
            <div class="text-right callout col-10 col-md-8 col-lg-6 pt-5 pt-md-0">
                <h1>Buy beautiful, hand-crafted pieces of art for your home.</h1>
                <p>Made with love from natural materials</p>
                <div class="col-8 col-md-6 ml-auto pr-0 d-flex flex-column flex-md-row justify-content-between">
                    <a href="#learn-more" class="btn btn-brand btn-callout">Learn More</a>
                    <a href="{% url 'products' %}" class="btn btn-brand btn-callout">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of hero image section -->
<!-- About section -->
<section id="learn-more" class="py-5">
    <!-- container with two rows - heading + content -->
    <div class="container py-5 px-md-4">
        <!-- 1st row - heading -->
        <div class="row py-3 justify-content-center">
            <h2>About Knot Art</h2>
        </div>
        <!-- 2nd row - two columns - image and text -->
        <div class="row">
            <!-- 1st column - image -->
            <div class="col-12 col-md-6">
                <img src="media/home-page-meet-the-maker.jpg" alt="Portrait image of the website owner and maker" class="img-fluid">
            </div>
            <!-- 2nd column - text -->
            <div class="col-12 col-md-6 mt-3">
                <p>Hi, I'm Laura and I'm the macrame artist behind Knot Art. I make beautiful macrame wall hangings from
                    natural materials, which will bring a sense of calm to your home!</p>
                <p>You can <a href="{% url 'products' %}">browse and buy my pieces from my Shop</a>.</p>
                <p>I also regularly have a stall at in-person craft markets, which are all <a
                        href="{% url 'markets' %}">listed on the Markets page.</a> At these markets you can get to see
                    and feel the pieces before buying.</p>
                <p>If you <a href="{% url 'account_signup' %}">sign up for an account with us</a>, you can save a market
                    to your profile, that way you won't miss out or forget about the market you want to go to! You'll be
                    able to view your saved markets, as well as any order history, once you have an account set up.</p>
                <p><a href="#">Sign up to my newsletter</a> to get notified about new products, upcoming markets and
                    special sale events!</p>
            </div>
        </div>
    </div>
</section>
<!-- end of About section -->
{% endblock %}
