{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- hero image and callout -->
<section class="pt-4">
    <div class="hero-image container-fluid">
        <div class="overlay">
            <div class="text-right callout col-10 col-md-8 col-lg-6 pt-5 pt-md-0">
                <h1>Buy beautiful, hand-crafted pieces of art for your home.</h1>
                <p>Made with love from natural materials</p>
                <div class="col-8 col-md-6 ml-auto pr-0 d-flex flex-column flex-md-row justify-content-between">
                    <a href="#" class="btn btn-brand btn-callout">Learn More</a>
                    <a href="#" class="btn btn-brand btn-callout">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
