{% extends "base.html" %}
{% load static %}

{% block extra_title %} | Macrame Wall Hangings | Shop online or at a local craft market{% endblock %}

{% block content %}
<!-- hero image and callout -->
<section class="pt-4">
    <div class="hero-image container-fluid">
        <div class="overlay">
            <div class="text-right callout col-10 col-md-8 col-xl-6 pt-5 pt-md-0">
                <h1>Buy beautiful, hand-crafted pieces of macrame art for your home.</h1>
                <p>Made with love from natural materials</p>
                <div class="col-8 col-lg-6 ml-auto px-0 pl-xl-4">
                    <a href="#learn-more" class="btn btn-brand btn-callout mr-md-2">Learn More</a>
                    <a href="{% url 'products' %}" class="btn btn-brand btn-callout">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of hero image section -->
<!-- About section -->
<section id="learn-more" class="py-5">
    <!-- container with two rows - heading + content -->
    <div class="container py-5 px-md-4">
        <!-- 1st row - heading -->
        <div class="row py-5 justify-content-center">
            <h2 class="text-uppercase display-4">About Us</h2>
        </div>
        <!-- 2nd row - two columns - image and text -->
        <div class="row">
            <!-- 1st column - image -->
            <div class="col-12 col-md-6">
                <img src="{{ MEDIA_URL }}home-page-meet-the-maker.jpg" alt="Portrait image of the website owner and macrame artist" class="img-fluid">
            </div>
            <!-- 2nd column - text -->
            <div class="col-12 col-md-6 mt-3">
                <p>Hi, I'm Laura and I'm the macrame artist behind Knot Art. I make handmade macrame wall hangings from
                    natural materials, which will bring a sense of calm to your home!</p>
                <p>If you're a fan of nature inspired interior design, natural decor, or textile art, then look no
                    further! I craft these pieces from natural yarn, using different macrame knots, and driftwood or
                    found wood as hangers. My pieces work well in bedrooms or living rooms for a natural or bohemian
                    inspired interior.</p>
                <p>You can <a class="text-link" href="{% url 'products' %}">browse and buy macrame wall hangings from my
                        Shop here</a>. You'll find a mix of large wall hangings, both natural and colourful hangings,
                    some dream catchers and some mini wall hangings. Each piece is handmade and unique.
                </p>
                <p>I also regularly have a stall at in-person craft markets, which I list <a class="text-link"
                        href="{% url 'markets' %}">on the Markets page.</a> I'm based in Dublin, Ireland so most of
                    these will be located in and around Dublin or other counties in Ireland. Coming to a market gives
                    you the chance to see and feel the wall hangings before buying.</p>
                <p>If you <a class="text-link" href="{% url 'account_signup' %}">sign up for an account with us</a>, you
                    can save the markets you want to go to, and you can also get involved in the conversations with our
                    community by commenting on a market. You'll be able to view your saved markets, as well as any order
                    history, once you have an account set up.</p>
                <p><a class="text-link" href="#mc_embed_signup">Sign up to my newsletter</a> to get notified about new
                    products, upcoming markets and special sale events!</p>
            </div>
        </div>
    </div>
</section>
<!-- end of About section -->
{% endblock %}
