
<!-- products menu - categories and search box-->
<header class="pt-5 col-md-10 col-lg-8 col-xl-6 px-0 mx-auto">
    <!-- product categories collapse to toggle button on small screen, expand at bigger screen size -->
    <nav class="navbar navbar-expand-md w-100 pt-5" aria-label="Shop page categories and search">
        <!-- toggle button for product categories, for small screen size  -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#shop-nav"
            aria-controls="shop-nav" aria-expanded="false" aria-label="Toggle navigation">
            <!-- icon added instead of bootstrap toggler icon -->
            <span class="menu-icon">
                <i class="bi bi-list" aria-hidden="true"></i>
            </span>
        </button>
        <!-- search bar -->
        <form method="GET" action="{% url 'products' %}">
            <div class="input-group w-100">
                <input class="form-control rounded-0" type="text" name="q" placeholder="Search our shop">
                <div class="input-group-append">
                    <button class="form-control btn rounded-0" type="submit" aria-label="Search our shop">
                        <span>
                            <i class="bi bi-search" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>
            </div>
        </form>
        <div class="collapse navbar-collapse" id="shop-nav">
            <ul class="navbar-nav">
                <li class="list-inline-item nav-item">
                    <a href="{% url 'products' %}" class="nav-link nav-link-sub">All</a>
                </li>
                <li class="list-inline-item nav-item">
                    <a href="{% url 'products' %}?category=living_room" class="nav-link nav-link-sub">Living Room</a>
                </li>
                <li class="list-inline-item nav-item">
                    <a href="{% url 'products' %}?category=bedroom" class="nav-link nav-link-sub">Bedroom</a>
                </li>
                <li class="list-inline-item nav-item">
                    <a href="{% url 'products' %}?category=minis" class="nav-link nav-link-sub">Minis</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
