<!-- Markets sorting row -->
<div class="row pb-3 align-items-center">
    <!-- select box with sorting options - works using selectBoxSorting function in script.js, event listener on id -->
    <div class="col-12 col-md-6 col-lg-4">
        <select id="sorting-selector" class="custom-select custom-select-sm rounded-0"
            aria-label="Sorting options">
            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
            <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Market name (A-Z)</option>
            <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Market name (Z-A)</option>
            <option value="date_asc" {% if current_sorting == 'date_asc' %}selected{% endif %}>Date (soonest to latest)</option>
            <option value="date_desc" {% if current_sorting == 'date_desc' %}selected{% endif %}>Date (latest to soonest)</option>
        </select>
    </div>
    <!-- Display results column. Show number of markets being shown, and county name if county filter selected -->
    <div class="col-12 col-md-6 col-lg-4">
        <p class="text-muted font-90 mt-3">
            {{ markets|length }} market{% if markets|length != 1 %}s{% endif %} in
            {% if current_county %}
            <strong>{{ current_county.get_friendly_name }}</strong>
            {% else %}all counties. Choose county to filter.
            {% endif %}
        </p>
    </div>
    <!-- end of display results column -->
    <!-- dropdown box to choose county to filter markets by -->
    <div class="col-12 col-md-6 col-lg-4">
        <div class="dropdown">
            <a class="btn btn-brand-dark-outline w-100 d-flex align-items-center justify-content-between" href="#"
                id="filterByCounty" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                data-display="static">
                <span>Filter by county...</span>
                <i class="bi bi-chevron-down ml-1" aria-hidden="true"></i>
        </a>
            <div class="dropdown-menu county-dropdown" aria-labelledby="filterByCounty">
                <!-- set the page url to be used in the filter links, depending on if we are on markets or my_markets -->
                {% if on_my_markets_page %}
                    {% url 'my_markets' as page_url %}
                {% else %}
                    {% url 'markets' as page_url %}
                {% endif %}
                <!-- option to select all counties, with active class if no county currently selected -->
                <a class="dropdown-item{% if not current_county %} active{% endif %}" href="{{ page_url }}">All</a>
                {% for market in all_markets %}
                <!-- remaining options are the available counties from markets in queryset, county name only shown once, active class if selected -->
                    {% ifchanged %}
                        <a class="dropdown-item{% if market.county.name == current_county.name %} active{% endif %}" 
                        href="{{ page_url }}?county={{market.county.name}}">{{ market.county.friendly_name }}</a>
                    {% endifchanged %}
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- end of county filtering options column -->
</div>