html, body {
    height: 100%;
}

body {
    font-family: 'Overpass', sans-serif;
    color: #1c1c1c;
}

h1, h2 {
    font-weight: 700;
}

/* remove text decoration from links */
a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
}

/* adjust Bootstrap general btn styles */
.btn {
    border-radius: 0;
    color: #1c1c1c;
}

/* brand colours on buttons */
.btn-brand {
    background-color: #ff8881;
    border: 0.1rem solid #ff8881;
}

/* button outlined */
.btn-brand-outline {
    background-color: #fdfdfd;
    border: 0.1rem solid #ff8881;
}

.btn-brand:hover {
    color: #fdfdfd;
    background-color: #1c1c1c;
    border-color: #1c1c1c;
}

.btn-brand-outline:hover { 
    background-color: #ff8881;
    border-color: #1c1c1c;
}

.fw-600 {
    font-weight: 600;
}

/* ---------------------------------------- Header */
.navbar, .dropdown-menu {
    background-color: #1c1c1c;
}

.logo {
    font-family: 'Lobster Two';
    font-size: 1.6rem;
    color: #ff8881;
}

/* remove Bootstrap padding + border radius on dropdown */
.dropdown-menu {
    padding: 0;
    border-radius: 0;
}

/* main header links - colour + reduce automatic Bootstrap padding */
.nav-link {
    padding: 0.5rem;
    color: #F98D85;
}

/* size for the icons in main header links */
.nav-icon {
    font-size: 1.3rem;
}

/* main header links, dropdown items text - font styles */
.nav-text {
    font-size: 0.8rem;
    font-weight: 300;
}

.dropdown-item {
    color: #F98D85;
}

/* hover, focus etc. for links in header */
.nav-link:hover,
.nav-link:active,
.nav-link:focus,
.logo:hover,
.logo:active,
.logo:focus {
    color: #fdfdfd;
}

/* links in dropdown menu - hover */
.dropdown-item:hover,
.dropdown-item:active,
.dropdown-item:focus {
    background-color: #F98D85;
    color: #1c1c1c;
}

/* ---------------------------------------- Home page */
.hero-image {
	background-image: url(../../media/background-img-macrame-hanging.jpg);
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    transition: all .5s ease-in-out;
    margin: 0;
    padding: 0;
}

/* overlay on hero-image behind the callout text, flex container for text */
.overlay {
    background-color: rgba(44, 43, 43, 0.6);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* subheading text */
.callout {
    font-weight: 500;
    font-size: 120%;
    color: #fdfdfd;
}

/* headline text */
.callout h1 {
    font-weight: 700;
}

/* buttons on top of hero image */
.btn-callout {
    padding: 0.5rem 0.8rem;
    margin-top: 1rem;
}

.btn-callout:hover, 
.btn-callout:active, 
.btn-callout:focus {
    color: #fdfdfd;
}

/* ---------------------------------------- Shop page */
/* colour for the icons in shop page */
.shop-icon {
    color: #F98D85;
    padding-right: 0.3rem;
}

/* 'new' badge for items in shop */
.badge-brand {
    border-radius: 0;
    border: 0.1rem solid #ff8881;
    position: absolute;
    top: 0.5rem;
    right: -0.5rem;
}

/* ---------------------------------------- Allauth form formatting */

.allauth-form-inner-content input {
    border-color: #1c1c1c;
    border-radius: 0;
}

/* labels heavier weight */
.allauth-form-inner-content label {
    font-weight: 600;
}

/* give placeholders same color as text */
.allauth-form-inner-content input::placeholder {
    color: #1c1c1c;
}

.allauth-form-inner-content p {
    margin-top: 1.8rem;
}

/* ---------------------------------------- Footer */
/* 
position sticky + 100vh, combined with 100% on body and html for sticky footer 
from: https://css-tricks.com/a-clever-sticky-footer-technique/
*/
footer {
    position: sticky;
    top: 100vh;
    background-color: #010101;
    color: #fdfdfd;
    font-size: 0.9rem;
    line-height: 1.5rem;
}

/* heading in footer for social links */
.sm-heading {
    color: #F98D85;
    font-weight: 600;
    font-size: 1.2rem;
}

.footer-link {
    color:#FDFDFD;
}

.footer-link:hover, 
.footer-link:active,
.footer-link:focus {
    color: #F98D85;
    text-decoration: underline;
}

/* icon in footer for social links */
footer i {
    font-size: 1.2rem;
}

/* copyright footnote */
.footnote {
    font-size: 0.8rem;
    font-weight: 300;
}

/*================================== MEDIA QUERIES ===========================================*/
/*================================ bigger than mobile ====================================*/
@media screen and (min-width: 500px) {
    /* ---------------------------------------- Header */
    /* adjust sizes of logo and main header links */
    .logo {
        font-size: 3rem;
    }

    .nav-link {
        padding: 0.5rem 1rem;
    }

    .nav-icon {
        font-size: 1.5rem;
    }
    
    .nav-text {
        font-size: 1rem;
    }
}

