{% extends "base.html" %}

{% block content %}
<!-- 'outside' content for the allauth forms - container, row, column with padding etc. -->
    <section class="container py-5">
        <div class="row pt-5">
            <div class="col-12 col-md-6">
                <div class="allauth-form-inner-content">
                    {% block inner_content %}
                    <!-- block content for the allauth forms which sits inside the column -->
                    {% endblock %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}