{% extends "base.html" %}
{% load static %}

{% block extra_title %} | {{ market.name }}{% endblock %}

{% block content %}
<!-- page contents container -->
<section class="py-5 container-fluid">
    <!-- 1 row - with 2 columns - market image + details -->
    <div class="row pt-5 justify-content-center">
        <!-- 1st column - image -->
        <div class="col-12 col-sm-10 col-md-4 col-lg-3 col-xl-2 px-4 pt-md-5">
            <!-- market image links to the market website (external) -->
            <a href="{{ market.website }}" target="_blank" rel="noopener">
                <!-- if there is no image, then src is the default image, and alt text changes accordingly -->
                <img class="img-fluid"
                    src="{% if market.image %}{{ market.image.url }}{% else %}{{ MEDIA_URL }}no-image.png{% endif %}"
                    alt="{% if market.image %}Photo of {% else %}No image yet for {% endif %}{{ market.name }}{% if not market.image %}, image coming soon.{% endif %}">
            </a>
        </div>
        <!-- 2nd column - market details -->
        <div class="col-12 col-sm-10 col-md-5 col-lg-4 px-4 pt-md-5 mt-4 mt-md-0 align-items-center">
            <h1 class="text-uppercase h6">{{ market.name }}</h1>
            <p class="small my-1">
                <!-- county name - also links to filter all markets by that county -->
                <a href="{% url 'markets' %}?county={{market.county.name}}" class="text-muted">
                    <i class="bi bi-geo-alt-fill icon" aria-hidden="true"></i>{{ market.county.friendly_name }}
                </a>
            </p>
            <p>{{ market.location }}</p>
            <p class="fw-600 mb-2">{{ market.date }}</p>
            <p class="font-90 mb-2">{{ market.start_time }} to {{ market.end_time }}</p>
            <a href="{{ market.website }}" target="_blank" rel="noopener" class="font-90">{{ market.website }}</a>
            {% if request.user.is_authenticated %}
            <!-- Save/Remove market for logged in users -->
            <form action="{% url 'update_my_markets' market.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" value="{{ market.id }}" name="market_id"
                    class="bg-transparent border-0 p-0 my-2 small">
                    {% if market in saved_markets_list.market.all %}
                    <i class="bi bi-heart-fill icon" aria-hidden="true"></i>
                    <span class="text-muted">Remove from My Markets</span>
                    {% else %}
                    <i class="bi bi-heart icon" aria-hidden="true"></i>
                    <span class="text-muted">Save to My Markets</span>
                    {% endif %}
                </button>
                <!-- hidden input with url path, so view can redirect back to same page -->
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
            </form>
            {% else %}
            <p class="small text-muted mt-2"><i class="bi bi-heart icon" aria-hidden="true"></i><a class="text-link"
                    href="{% url 'account_login' %}">Sign In</a> or <a class="text-link"
                    href="{% url 'account_signup' %}">Sign Up</a> to save this market to your My Markets list.
            </p>
            {% endif %}
            {% if request.user.is_superuser %}
            <!-- superuser can view all markets so show status -->
            <p class="font-90 mt-2"><span class="fw-600">Status:</span>
                <span>{% if market.date_passed %}
                    <i class="bi bi-exclamation-circle-fill icon" aria-hidden="true"></i>Date has
                    passed
                    {% else %} Upcoming {% endif %}
                </span>
            </p>
            <!-- admin actions - edit/delete, if user is admin user -->
            <div class="admin-link-container col-12 col-md-10 col-xl-8 mb-5">
                <div class="row mx-0">
                    <h5 class="fw-600 font-90">Admin actions:</h5>
                </div>
                <div class="row mx-0">
                    <div class="col-6 px-0 text-center">
                        <a class="small admin-link" href="{% url 'edit_market' market.id %}">Edit
                            Details</a>
                    </div>
                    <div class="col-6 px-0 text-center">
                        <a class="small admin-link" href="#deleteMarketModal{{ market.id }}" data-toggle="modal">Delete
                            Market</a>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        <!-- end of market details column -->
        {% include '../markets/includes/delete_market_modal.html' %}
    </div>
    <!-- end of market image + details row -->
    <!-- start of comments row -->
    <div class="row pt-2 pt-md-4 pt-lg-5 justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-8 col-xl-6">
            <h3 class="h6 d-inline">The Conversation</h3>
            <span class="text-muted small">({{ market.comments.all|length }}
                Comment{% if market.comments.all|length > 1 %}s{% endif %})</span>
            <hr class="mt-1">
            <!-- card to show comments inside -->
            <div class="card-body pt-0">
                {% if request.user.is_authenticated %}
                <!-- comment form -->
                <form method="POST" action="" class="profile-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                </form>
                <button class="btn btn-brand">Post Comment</button>
                {% else %}
                <p class="small text-muted mt-2"><i class="bi bi-chat-left icon" aria-hidden="true"></i><a class="text-link"
                    href="{% url 'account_login' %}">Sign In</a> or <a class="text-link"
                    href="{% url 'account_signup' %}">Sign Up</a> to join the conversation.
            </p>
                {% endif %}
                {% for comment in comments %}
                <div class="comments">
                    <p class="font-weight-bold mb-0">{{ comment.author }}</p>
                    <p class="small text-muted mb-0">{{ comment.created_on }}</p>
                    {{ comment.comment | linebreaks }}
                </div>
                <hr>
                {% empty %}
                <p>No comments on this market yet. Start the conversation...</p>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- End of comments row -->
</section>
{% endblock %}