{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}

    {% block extra_meta %}
    <!-- Any specific meta for other templates -->
    {% endblock %}

    {% block corecss %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Google Fonts link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;1,400&family=Overpass:wght@200;300;400;500;600;700&display=swap"
        rel="stylesheet">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <!-- main custom CSS file -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    <!-- Any specific CSS files for other templates -->
    {% endblock %}

    {% block corejs %}
    <!-- Bootstrap JavaScript: jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    <!-- Any specific JavaScript for other templates -->
    {% endblock %}

    <!-- extra_title block so other pages can have additional wording added to the main title -->
    <title>Knot Art{% block extra_title %}{% endblock %}</title>
</head>
<body>
    <!-- main header for all pages -->
    <header>
        <!-- main nav bar for all pages - Logo + list of links: shop, market, account, bag -->
        <nav class="navbar nav-main fixed-top py-2 py-lg-3 px-md-2" aria-label="Primary">
            <div class="container-lg">
                <!-- logo -->
                <a class="navbar-brand logo" href="{% url 'home' %}">KnotArt</a>
                <!-- List of links - each with icon and text below it -->
                <ul class="nav mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link nav-link-main" href="{% url 'products' %}">
                            <div class="text-center">
                                <div><i class="bi bi-cart-plus nav-icon"></i></div>
                                <p class="my-0 nav-text">Shop</p>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-main" href="">
                            <div class="text-center">
                                <div><i class="bi bi-shop nav-icon"></i></div>
                                <p class="my-0 nav-text">Markets</p>
                            </div>
                        </a>
                    </li>
                    <!-- This link is a dropdown menu for Account options. Link name changes depending on signed in status of user -->
                    <li class="nav-item dropdown">
                        <a class="nav-link nav-link-main" href="" id="account-options" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <div class="text-center">
                                <div><i class="bi bi-person nav-icon"></i></div>
                                <p class="my-0 nav-text">
                                    {% if request.user.is_authenticated %}Account{% else %}Sign In{% endif %}
                                </p>
                            </div>
                        </a>
                        <!-- dropdown menu items options depend on signed in status -->
                        <div class="dropdown-menu border-0" aria-labelledby="account-options">
                            {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <!-- admin user extra option for product management -->
                            <a href="{% url 'add_product' %}" class="dropdown-item nav-text">Product Management</a>
                            {% endif %}
                            <a href="{% url 'profile' %}" class="dropdown-item nav-text">My Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item nav-text">Sign Out</a>
                            {% else %}
                            <a href="{% url 'account_login' %}" class="dropdown-item nav-text">Sign In</a>
                            <a href="{% url 'account_signup' %}" class="dropdown-item nav-text">Sign Up</a>
                            {% endif %}
                        </div>
                    </li>
                    <!-- links to cart.html page, and displays total amount in cart -->
                    <li class="nav-item">
                        <a class="nav-link nav-link-main" href="{% url 'view_cart' %}">
                            <div class="text-center">
                                <!-- show filled icon if there are items in the cart, otherwise outlined icon -->
                                <div><i class="nav-icon bi bi-bag{% if grand_total %}-fill{% endif %}"></i></div>
                                <!-- grand total currently in cart, otherwise 0.00 -->
                                <p class="my-0 nav-text">
                                    €{% if grand_total %}{{ grand_total|floatformat:2 }}{% else %}0.00{% endif %}</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    {% if messages %}
    <!-- to display error/info/warning/success messages for user actions -->
    <div class="message-container">
        {% for message in messages %}
            <!-- using Django message levels -->
            {% with message.level as level %}
                {% if level == 40 %}
                    <!-- error -->
                    {% include 'includes/toasts/toast_error.html' %}
                {% elif level == 30 %}
                    <!-- warning -->
                    {% include 'includes/toasts/toast_warning.html' %}
                {% elif level == 25 %}
                    <!-- success -->
                    {% include 'includes/toasts/toast_success.html' %}
                {% else %}
                    <!-- info for everything else -->
                    {% include 'includes/toasts/toast_info.html' %}
                {% endif %}
            {% endwith %}
        {% endfor %}
    </div>
    {% endif %}
    <main class="pt-4 pt-md-5">
    {% block page_header %}
    <!-- specific page header under main header -->
    {% endblock %}
    {% block content %}
    <!-- specific page content -->
    {% endblock %}
    </main>     
    <!-- page footer for all pages -->
    <footer>
        <!-- container for footer grid - two rows -->
        <div class="container-lg text-center pt-5 pb-2">
            <!-- row to hold social links -->
            <div class="row pb-4">
                <!-- social media links section-->
                <div class="col-12 col-md-6">
                    <h5 class="sm-heading">Connect with us</h5>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="https://facebook.com" target="_blank" rel="noopener"
                                aria-label="Visit our Facebook page. Link opens in new tab" class="footer-link"><i
                                    class="bi bi-facebook" aria-hidden="true"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://instagram.com" target="_blank" rel="noopener"
                                aria-label="Visit our Instagram page. Link opens in new tab" class="footer-link"><i
                                    class="bi bi-instagram" aria-hidden="true"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://twitter.com" target="_blank" rel="noopener"
                                aria-label="Visit our Twitter page. Link opens in new tab" class="footer-link"><i
                                    class="bi bi-twitter" aria-hidden="true"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://ie.linkedin.com/" target="_blank" rel="noopener"
                                aria-label="Visit our LinkedIn page. Link opens in new tab" class="footer-link"><i
                                    class="bi bi-linkedin" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- row for copyright info -->
            <div class="row footnote">
                <div class="col">
                    <p>
                        <span>&copy; <a href="https://github.com/Fiona-T" target="_blank" rel="noopener"
                                class="footer-link">Fiona Tracey</a> 2021. Site created for educational purposes.
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </footer>
    {% block postloadjs %}
    <!-- specific page scripts that need to load at end of body -->
    <script>
        // call Bootstrap toast method with show option on all elements with class toast
        $(".toast").toast("show");
    </script>
    {% endblock %}
</body>
</html>