/* ---------------------------------------- Order form */
/* stripe card element box */
.StripeElement {
  box-sizing: border-box;
  height: 2.5rem;
  padding: .625rem .75rem;
  border: 0.1rem solid #1c1c1c;
  border-radius: 0;
  background-color: white;
}

/* div to overlay screen when payment processing - triggered by JS */
#loading-overlay {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(108, 113, 114, 0.85);
    z-index: 9999;
}

/* icon spinner */
.spinner {
    font-size: 4rem;
    text-align: center;
    display: block;
    color: #fcfcfc;
}

/* div holding spinner */
.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
    animation: spin infinite 4s linear;
}

@keyframes spin {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
}

/* ---------------------------------------- Order Success page */
.order-success-wrapper {
    padding: 1rem 0.5rem;
    border: 0.1rem solid #ff8881;
}

/* heading row at top of order summary box */
.order-summary-header {
    background-color: #ff8881;
    padding: 0.625rem;
}

/* headings for each section of order summary + in header */
.order-success-heading {
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: .5rem;
}

/* heading inside the header - heaveier font weight */
.order-summary-header .order-success-heading {
    margin-bottom: 0;
    font-weight: 500;
}

/* dividers between each section of order summary heading */
.order-hr {
    border-top: 0.1rem solid #ff8881;
}